@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/***** For React Particles ******/
#particles canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
